*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
height: 100vh;
width: 100vw;
background-color:rgba(3, 12, 12, 0.308);
color: aliceblue;
}


/* utility Classes */
.flex{
display: flex;
align-items: center;
justify-content: center;
}


.container{
    width: 100%;
    height: 100%;
    flex-direction: row;

}
.form{
    width: 50%;
    height: 100%;
    border: 2px solid red;
    flex-direction: column;
}
.image{
    width: 50%;
    height: 100%;
    border: 2px solid red;
}
.image img{
    width: 640px;
}